# ignore archives
*.zip

# ignore large folders
depth-capstone/data/
depth-capstone/experiments/

# python junk
__pycache__/
*.pyc
.venv/

# logs (optional to ignore, but yours is tiny)
# depth-capstone/logs/
