# Ignore archives
*.zip

# Ignore large folders but keep structure
depth-capstone/data/*
!depth-capstone/data/.gitkeep

depth-capstone/experiments/*
!depth-capstone/experiments/.gitkeep

depth-capstone/checkpoints/*
!depth-capstone/checkpoints/.gitkeep

# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
