# ignore archives
*.zip

# ignore large folders but allow placeholder
depth-capstone/data/*
!depth-capstone/data/.gitkeep

depth-capstone/experiments/*
!depth-capstone/experiments/.gitkeep

# python junk
__pycache__/
*.pyc
.venv/
